nav {
    background-color: #006064;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

header nav .nav-wrapper .brand-logo h1 {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-button {
    width: 150px;
    text-align: center;
}

ul li a:hover {
    background-color: #00838f;
}

ul li #profile {
    color: white;
}

.btn {
    background-color: #006064;
}

.btn:hover {
    background-color: #00838f;
}

.card {
    -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
}

.card .btn {
    width: 50%;
}

.side-nav {
    background-color: #0097a7;
}

#sidenav-overlay {
    z-index: 10;
}

.display {
    display: block !important;
}

.hide {
    display: none !important;
}
.row .last {
    float:right;
}

.input-field {
    padding-top: 20px !important;
    background-color: #F5F5F5;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(176,176,176,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(176,176,176,1);
box-shadow: 0px 0px 5px 2px rgba(176,176,176,1);
}

.input-field label {
    top: 1.8rem;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 1.8rem;
}

